<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DbServiceUri" value="http://localhost:17366/NoduleDbService.svc"/>
    <add key="DbServiceClientCertificate" value="CN=Nodule-wCI-WorkerService"/>
    <add key="ClientCertificateName" value="CN=Nodule-wCI-WorkerService"/>
    <add key="tokenKey" value="Get one from https://github.com/settings/applications"/>
    <add key="messageHeader" value="##### Testing npm install on windows"/>
    <add key="messageBody" value="![Windows Build status](http://localhost:34046/Home/BuildStatus/{0}/{1}) [Check log here](http://localhost:34046/Home/BuildLog/{0})"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="1048576" maxBufferSize="1048576">
          <readerQuotas maxStringContentLength="1048576" maxArrayLength="1048576"/>
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Nodule_wCI.Worker.Processor">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Nodule_wCI.Worker/Processor/" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" name="ProcessorBasicHttpEndpoint"
          address="" contract="Nodule_wCI.Worker.IProcessor">
          <identity>
            <!-- Not actually required -->
            <dns value="Nodule-wCI-WorkerService"/>
          </identity>
        </endpoint>
        <!-- This endpoint does not use a secure binding and should be removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Nodule_wCI.AllowOnlySpecificCertificateAuthenticator, Nodule-wCI.Worker, Version=1.0.0.0, Culture=neutral"/>
              <!-- To support duplex communication if needed later on -->
              <certificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService"/>
            </clientCertificate>
            <!-- To support saml later on -->
            <issuedTokenAuthentication>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService"/>
              </knownCertificates>
            </issuedTokenAuthentication>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Allow exceptions to pass, only for debug -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <!-- From this point on is the configuration for the client that consumes this service -->
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <defaultCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService" />
            </serviceCertificate>
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Nodule_wCI.Worker/Processor/"
        binding="basicHttpBinding" behaviorConfiguration="clientBehavior"
        contract="Nodule_wCI.Worker.IProcessor" name="ProcessorBasicHttpEndpoint">
        <identity>
          <dns value="Nodule-wCI-WorkerService"/>
        </identity>
      </endpoint>
    </client>
    <!-- End of client configuration -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>