<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DbServiceUri" value="http://localhost:17366/NoduleDbService.svc"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <!-- Remove debug behavior before deployment -->
      <service behaviorConfiguration="DebugBehavior" name="Nodule_wCI.Worker.Processor">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Nodule_wCI.Worker/Processor/" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" name="ProcessorBasicHttpEndpoint"
          address="" contract="Nodule_wCI.Worker.IProcessor" />
        <!-- This endpoint does not use a secure binding and should be removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!-- Allow exceptions to pass -->
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>