@using Nodule_wCI
@model Nodule_wCI.DB.WebHookPosts
@{
    ViewBag.Title = "Build Log";
}
<h2>Build log</h2>
@if (Model == null)
{
    <b>Nothing to see here</b>
}
else
{
    <b>@Model.GetPullRequestNpmUrl() | @Model.PostStatuses.Description</b>
    if (Model.PostStatuses.Id == (byte)Nodule_wCI.Enums.PostStatus.Processing)
    {
        <br /><p>Previous attempt build log:</p>
    }
    <pre>@Model.Result</pre>
}

