@using Nodule_wCI
@using Nodule_wCI.Enums
@model System.Data.Entity.DbSet<Nodule_wCI.DB.WebHookPosts>
@{
    ViewBag.Title = "List of requests";
}
<h2>List of requests</h2>
<div id="RequestsGrid"></div>
<script type="text/javascript">
    $(function () {
        Nodule.RequestGrid("RequestsGrid", '@Url.Content("~/Home/BuildStatus/")', '@Url.Content("~/Home/BuildLog/")', '@Url.Content("~/Home/RestartBuild/")', "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ListOfRequests" })");
            });
</script>

