@model Nodule_wCI.DB.WebHookPosts
@{
    Layout = null;
}
<div>
    @if (Model == null)
    {
        <b>Request not found!</b>
    }
    else
    {
        <b>Restart started please check <a href="@Url.Action("BuildLog", new { id = Model.Id })">build log</a></b>
    }
</div>
