<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Compact sql connection string 
    <add name="NoduleDbEntities" connectionString="metadata=res://*/NoduleDBEntities.csdl|res://*/NoduleDBEntities.ssdl|res://*/NoduleDBEntities.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\NoduleDb.sdf&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- Sql server connection string -->
    <add name="NoduleDbEntities" connectionString="metadata=res://*/NoduleDBEntities.csdl|res://*/NoduleDBEntities.ssdl|res://*/NoduleDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NoduleDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SigningCertificate" value="Nodule-wCI-WorkerService"/>
  </appSettings>
</configuration>