<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientCertificateName" value="CN=Nodule-wCI-WorkerService"/>
  </appSettings>
  <connectionStrings>
    <!-- Compact sql connection string 
    <add name="NoduleDbEntities" connectionString="metadata=res://*/NoduleDBEntities.csdl|res://*/NoduleDBEntities.ssdl|res://*/NoduleDBEntities.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\NoduleDb.sdf&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- Sql server connection string -->
    <add name="NoduleDbEntities" connectionString="metadata=res://*/NoduleDBEntities.csdl|res://*/NoduleDBEntities.ssdl|res://*/NoduleDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NoduleDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5" >
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Nodule-wCI-WorkerService"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Nodule_wCI.AllowOnlySpecificCertificateAuthenticator, Nodule-wCI.DB.Service, Version=1.0.0.0, Culture=neutral"/>
            </clientCertificate>
          </serviceCredentials>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
