<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- 
         Update this to point to your sdf file location 
         For testing this could be ..\..\..\Nodule-wCI.Site\bin\
         or ..\..\..\Tests\bin\Debug\
    -->
    <add key="DataFileLocation" value="..\..\..\Tests\bin\Debug\" />
  </appSettings>
  <connectionStrings>
    <add name="NoduleDbEntities" connectionString="metadata=res://*/NoduleDBEntities.csdl|res://*/NoduleDBEntities.ssdl|res://*/NoduleDBEntities.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\NoduleDb.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <services>
      <!-- Remove debug behavior before deployment -->
      <service behaviorConfiguration="DebugBehavior" name="Nodule_wCI.Worker.Processor">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Nodule_wCI.Worker/Processor/" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" name="ProcessorBasicHttpEndpoint"
          address="" contract="Nodule_wCI.Worker.IProcessor" />
        <!-- This endpoint does not use a secure binding and should be removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!-- Allow exceptions to pass -->
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>